<div class="question-panel">
    <div class="question-data">
        {{question.question}}
    </div>    
    <div class="question-actions">
       <div class="action-item" (click)="incLikes()">
          
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <span> {{question.likes}} </span>
       </div>

       <div class="action-item" (click)="incDislikes()">
            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 
            <span> {{question.dislikes}} </span>
        </div>
       
        <div class="action-item" (click)="toggleDeleteModal()">
            <i class="fa fa-trash-o" aria-hidden="true"></i>

        </div>

        <div class="action-item" (click)="viewAnswers()">
            {{answers.length}} Answers
        </div>


        <kendo-dialog title="Delete Question" *ngIf="deleteModal" (close)="toggleDeleteModal()" [minWidth]="250" [width]="450">
            <p style="margin: 30px; text-align: center;">Are you sure you want to delete this question?</p>
            <kendo-dialog-actions>
                <button kendoButton (click)="toggleDeleteModal()">Cancel</button>
                <button kendoButton (click)="deleteQuestion()" primary="true">Delete</button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>

</div>                                                                