.question-panel {
    padding: .60%
}


.question-data {
    font-size: large;
    color: royalblue;
}

.question-actions {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.action-item {
    padding-right: 2%;
}